.showcase-scroll-container {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
}

.showcase-scroll {
  position: relative;
  overflow-x: scroll;
  white-space: nowrap;
  box-sizing: border-box;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #777;
}


.showcase-scroll-title {
  float: left;
  text-align: center;
  position: relative;
  top: 50%;
  padding-left: 2em;
  padding-right: 2em;
  transform: translateY(-50%);
  width: 90%;
  white-space: normal;
  color: #fff;
  h1 {
    font-size:50px;
    font-family: GPCBold,"HelveticaNeue",Helvetica,Arial,Verdana,sans-serif;
    font-weight: normal;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.45);
    text-transform: uppercase;
    background: image_url('hr.png') bottom center no-repeat;
    padding-bottom:20px;
  }
  p {
    font-size:28px;
    font-family: Garamond,Baskerville,"Baskerville Old Face","Hoefler Text","Times New Roman",serif;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.45);
  }
}

.showcase-scroll-sections {
  height: 100%;
  max-height: 820px;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}

.showcase-scroll-section {
  display: inline-block;
  height: 100%;
}

.showcase-scroll-section-column {
  display:inline-block;
  vertical-align: top;
  margin-right:1.5em;
  height:100%;
  padding-top: 1em;
  padding-bottom: 1em;
}

.showcase-scroll-section-item {
  height: 100%;

  .hc-thumbnail {
    height: 100%;
    width: auto;
  }
}

.showcase-scroll-section-text {
  background:rgba(0,0,0,.86);
  color:#fff;

  white-space: normal;
  max-width: 640px;
  padding:1em;
  height: 100%;

  .showcase-scroll-section-text-frame {
    height:100%;
    overflow: hidden;
    overflow-y:auto;
    position: relative;
    -webkit-mask-image: -webkit-gradient(linear, left 90%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));

  }
}
